body {
  margin: 0;
  font-family: arial, verdana, sans-serif;
  background: #f3f3f3;
}

.wrapper {
  /* position: relative; */
  width: calc(100% - 56px);
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  text-align: justify;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}
#header {
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 22px;
  margin-bottom: 52px;
  /* text-align: center; */
  background: rgba(60, 183, 231, 0.14);
  margin: 0px auto;
  display: block;
  /* width: 327px; */
  /* float: right; */
  color: #323a45;
  border-bottom: 0px;
  margin-top: 40px;
  margin-bottom: 60px;
}
#header h1 {
  margin: 0;
}
#header h1 a {
  color: #323a45;
}
#header h1 a:hover {
  color: #efefef;
}

::-webkit-scrollbar {
  width: 10px;
  background: #323a45;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #3cb7e7;
}

h2 {
  margin-bottom: 40px;
  margin-top: 50px;
  font-size: 40px;
}

h3 {
  margin-top: 50px;
  margin-bottom: 30px;
}
